<?xml version="1.0"?>
<config>
    <modules>
       <EMerchantPay_Genesis>
         <version>1.2.2</version>
       </EMerchantPay_Genesis>
    </modules>

    <global>
        <blocks>
            <emerchantpay>
                <class>EMerchantPay_Genesis_Block</class>
            </emerchantpay>
        </blocks>

        <models>
            <emerchantpay>
                <class>EMerchantPay_Genesis_Model</class>
            </emerchantpay>
        </models>

        <helpers>
            <emerchantpay>
                <class>EMerchantPay_Genesis_Helper</class>
            </emerchantpay>
        </helpers>

        <payment>
            <groups>
                <emerchantpay>eMerchantPay Ltd.</emerchantpay>
            </groups>
        </payment>
    </global>

    <frontend>
        <routers>
            <emerchantpay>
                <use>standard</use>
                <args>
                    <module>EMerchantPay_Genesis</module>
                    <frontName>emerchantpay</frontName>
                </args>
            </emerchantpay>
        </routers>
    </frontend>

    <default>
        <payment>
            <emerchantpay_direct>
                <model>emerchantpay/direct</model>
                <order_status>pending</order_status>
                <title>Credit Card (eMerchantPay Direct)</title>
                <cctypes>VI,MC,SM,AE,DI,JCB,OT</cctypes>
                <payment_action>authorize</payment_action>
                <group>emerchantpay</group>
            </emerchantpay_direct>
            <emerchantpay_checkout>
                <model>emerchantpay/checkout</model>
                <order_status>pending</order_status>
                <title>Credit Card (eMerchantPay Checkout)</title>
                <payment_action>order</payment_action>
                <group>emerchantpay</group>
            </emerchantpay_checkout>
         </payment>
    </default>
</config>