<?xml version="1.0"?>
<config>
    <modules>
       <EMerchantPay_Genesis>
         <version>0.1.0</version>
       </EMerchantPay_Genesis>
    </modules>

    <global>
       <blocks>
            <emerchantpay_genesis>
                <class>EMerchantPay_Genesis_Block</class>
            </emerchantpay_genesis>
        </blocks>

        <models>
            <emerchantpay_genesis>
                <class>EMerchantPay_Genesis_Model</class>
            </emerchantpay_genesis>
        </models>

        <helpers>
            <emerchantpay_genesis>
                <class>EMerchantpay_Genesis_Helper</class>
            </emerchantpay_genesis>
        </helpers>

    </global>

    <default>
        <payment>
            <emerchantpay_genesis>
                <active>0</active>
                <model>emerchantpay_genesis/standard</model>
                <order_status>pending</order_status>
                <title>Credit Card (eMerchantPay)</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </emerchantpay_genesis>
         </payment>
    </default>
</config>